<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7629.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="F1D32D79BE9569BE814AB4AC568EA1A73FAB322BD7DBCF68DA54ED8E62B163DDA67D0C594DBB74C74300E3185F1F62B94857C6F3C8ED0FED064D47E25EEF88DC" decryptionKey="55BC1DADC9E0D466AA6F99DBD63C0A00098B7EA20A5FD32C52E31F0634248EE7" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="4BC5DF364F5B268DB3FBD95C386BED9BF391FBB2CA08FFABDE54FA80C500D881" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4BC5DF364F5B268DB3FBD95C386BED9BF391FBB2CA08FFABDE54FA80C500D881" realm="http://localhost" />
	</relyingParties>
</securityConfig>